In [2]:
import pandas as pd 
import numpy as np

In [6]:
college = pd.read_csv('college.csv',index_col="INSTNM")

In [7]:
college.describe().T

,count,mean,std,min,25%,50%,75%,max
HBCU,7164.0,0.014238,0.118478,0.0,0.000000,0.00000,0.000000,1.0000
MENONLY,7164.0,0.009213,0.095546,0.0,0.000000,0.00000,0.000000,1.0000
WOMENONLY,7164.0,0.005304,0.072642,0.0,0.000000,0.00000,0.000000,1.0000
RELAFFIL,7535.0,0.190975,0.393096,0.0,0.000000,0.00000,0.000000,1.0000
SATVRMID,1185.0,522.819409,68.578862,290.0,475.000000,510.00000,555.000000,765.0000
SATMTMID,1196.0,530.765050,73.469767,310.0,482.000000,520.00000,565.000000,785.0000
DISTANCEONLY,7164.0,0.005583,0.074519,0.0,0.000000,0.00000,0.000000,1.0000
UGDS,6874.0,2356.837940,5474.275871,0.0,117.000000,412.50000,1929.500000,151558.0000
UGDS_WHITE,6874.0,0.510207,0.286958,0.0,0.267500,0.55570,0.747875,1.0000
UGDS_BLACK,6874.0,0.189997,0.224587,0.0,0.036125,0.10005,0.257700,1.0000
UGDS_HISP,6874.0,0.161635,0.221854,0.0,0.027600,0.07140,0.198875,1.0000
UGDS_ASIAN,6874.0,0.033544,0.073777,0.0,0.002500,0.01290,0.032700,0.9727
UGDS_AIAN,6874.0,0.013813,0.070196,0.0,0.000000,0.00260,0.007300,1.0000
UGDS_NHPI,6874.0,0.004569,0.033125,0.0,0.000000,0.00000,0.002500,0.9983
UGDS_2MOR,6874.0,0.023950,0.031288,0.0,0.000000,0.01750,0.033900,0.5333
UGDS_NRA,6874.0,0.016086,0.050172,0.0,0.000000,0.00000,0.011700,0.9286
UGDS_UNKN,6874.0,0.045181,0.093440,0.0,0.000000,0.01430,0.045400,0.9027
PPTUG_EF,6853.0,0.226639,0.246470,0.0,0.000000,0.15040,0.376900,1.0000
CURROPER,7535.0,0.923291,0.266146,0.0,1.000000,1.00000,1.000000,1.0000
PCTPELL,6849.0,0.530643,0.225544,0.0,0.357800,0.52150,0.712900,1.0000
PCTFLOAN,6849.0,0.522211,0.283616,0.0,0.332900,0.58330,0.745000,1.0000
UG25ABV,6718.0,0.410021,0.228939,0.0,0.241500,0.40075,0.572275,1.0000

In [5]:
dict(college.count())

{'INSTNM': 7535,
 'CITY': 7535,
 'STABBR': 7535,
 'HBCU': 7164,
 'MENONLY': 7164,
 'WOMENONLY': 7164,
 'RELAFFIL': 7535,
 'SATVRMID': 1185,
 'SATMTMID': 1196,
 'DISTANCEONLY': 7164,
 'UGDS': 6874,
 'UGDS_WHITE': 6874,
 'UGDS_BLACK': 6874,
 'UGDS_HISP': 6874,
 'UGDS_ASIAN': 6874,
 'UGDS_AIAN': 6874,
 'UGDS_NHPI': 6874,
 'UGDS_2MOR': 6874,
 'UGDS_NRA': 6874,
 'UGDS_UNKN': 6874,
 'PPTUG_EF': 6853,
 'CURROPER': 7535,
 'PCTPELL': 6849,
 'PCTFLOAN': 6849,
 'UG25ABV': 6718,
 'MD_EARN_WNE_P10': 6413,
 'GRAD_DEBT_MDN_SUPP': 7503}

In [12]:
college.index

RangeIndex(start=0, stop=7535, step=1)

In [9]:
college.max()

CITY            Zanesville
STABBR                  WY
HBCU                     1
MENONLY                  1
WOMENONLY                1
RELAFFIL                 1
SATVRMID               765
SATMTMID               785
DISTANCEONLY             1
UGDS                151558
UGDS_WHITE               1
UGDS_BLACK               1
UGDS_HISP                1
UGDS_ASIAN          0.9727
UGDS_AIAN                1
UGDS_NHPI           0.9983
UGDS_2MOR           0.5333
UGDS_NRA            0.9286
UGDS_UNKN           0.9027
PPTUG_EF                 1
CURROPER                 1
PCTPELL                  1
PCTFLOAN                 1
UG25ABV                  1
dtype: object

In [11]:
college.filter(like='UGDS_')

Object `fillna` not found.

In [19]:
college_ugds = college.filter(like='UGDS_')

In [26]:
college_ugds.head().round(10)

,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN
INSTNM,,,,,,,,,
Alabama A & M University,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138
University of Alabama at Birmingham,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100
Amridge University,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715
University of Alabama in Huntsville,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350
Alabama State University,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137

In [28]:
college_ugds.head().round??

In [36]:
college_ugds.round(2).equals(college_ugds)

False

In [31]:
college.round??

In [35]:
26//27

0

In [42]:
(college_ugds == np.nan).all()

UGDS_WHITE    False
UGDS_BLACK    False
UGDS_HISP     False
UGDS_ASIAN    False
UGDS_AIAN     False
UGDS_NHPI     False
UGDS_2MOR     False
UGDS_NRA      False
UGDS_UNKN     False
dtype: bool

In [53]:
(college_ugds.fillna(0).round(0)==0).all?

In [ ]:
(college_ugds.fillna(0).round(0)==0).all

In [58]:
(college_ugds.fillna(0).round(0)==0)['UGDS_WHITE'].value_counts()

False    3826
True     3709
Name: UGDS_WHITE, dtype: int64

In [64]:
(college_ugds)[['UGDS_WHITE','UGDS_ASIAN']].sum(axis='index')

UGDS_WHITE    3507.1643
UGDS_ASIAN     230.5831
dtype: float64

In [71]:
help(college_ugds.count(axis=1).filter)

Help on method filter in module pandas.core.generic:

filter(items=None, like: Union[str, NoneType] = None, regex: Union[str, NoneType] = None, axis=None) -> ~FrameOrSeries method of pandas.core.series.Series instance
    Subset the dataframe rows or columns according to the specified index labels.

    Note that this routine does not filter a dataframe on its
    contents. The filter is applied to the labels of the index.

    Parameters
    ----------
    items : list-like
        Keep labels from axis which are in items.
    like : str
        Keep labels from axis for which "like in label == True".
    regex : str (regular expression)
        Keep labels from axis for which re.search(regex, label) == True.
    axis : {0 or ‘index’, 1 or ‘columns’, None}, default None
        The axis to filter on, expressed either as an index (int)
        or axis name (str). By default this is the info axis,
        'index' for Series, 'columns' for DataFrame.

    Returns
    -------
    same type as input object

    See Also
    --------
    DataFrame.loc

    Notes
    -----
    The ``items``, ``like``, and ``regex`` parameters are
    enforced to be mutually exclusive.

    ``axis`` defaults to the info axis that is used when indexing
    with ``[]``.

    Examples
    --------
    >>> df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),
    ...                   index=['mouse', 'rabbit'],
    ...                   columns=['one', 'two', 'three'])

    >>> # select columns by name
    >>> df.filter(items=['one', 'three'])
             one  three
    mouse     1      3
    rabbit    4      6

    >>> # select columns by regular expression
    >>> df.filter(regex='e$', axis=1)
             one  three
    mouse     1      3
    rabbit    4      6

    >>> # select rows containing 'bbi'
    >>> df.filter(like='bbi', axis=0)
             one  two  three
    rabbit    4    5      6

In [74]:
college_div = pd.read_csv('college_diversity.csv',index_col='School')
college_div

                                                   Diversity Index
School
Rutgers University--Newark  Newark, NJ                        0.76
Andrews University  Berrien Springs, MI                       0.74
Stanford University  Stanford, CA                             0.74
University of Houston  Houston, TX                            0.74
University of Nevada--Las Vegas  Las Vegas, NV                0.74
University of San Francisco  San Francisco, CA                0.74
San Francisco State University  San Francisco, CA             0.73
University of Illinois--Chicago  Chicago, IL                  0.73
New Jersey Institute of Technology  Newark, NJ                0.72
Texas Woman's University  Denton, TX                          0.72

In [77]:
college_ugds.isnull().sum(axis=1).sort_values??

Object `sort_values` not found.

In [82]:
college_ugds.isnull().sum(axis=1).sort_values(ascending=False)

INSTNM
Excel Learning Center-San Antonio South         9
Philadelphia College of Osteopathic Medicine    9
Assemblies of God Theological Seminary          9
Episcopal Divinity School                       9
Phillips Graduate Institute                     9
                                               ..
Carroll Community College                       0
University of Phoenix-New Mexico                0
Galen College of Nursing-Tampa Bay              0
Galen College of Nursing-San Antonio            0
Alabama A & M University                        0
Length: 7535, dtype: int64

In [ ]:
college_ugds.isnull().sum(axis=1).sort_values

In [85]:
college_ugds.dropna(how='all').isnull().sum(axis=1).sort_values(ascending=False)

INSTNM
Coastal Pines Technical College                 0
CUNY Bronx Community College                    0
College of Staten Island CUNY                   0
CUNY City College                               0
CUNY Graduate School and University Center      0
                                               ..
Franklin Technology-MSSU                        0
Professional Technical Institution Inc          0
South Texas College                             0
Pike County Joint Vocational School District    0
Alabama A & M University                        0
Length: 6874, dtype: int64